.wrapper {
	background-color: white;
	height: 100vh;
	display: block;
	margin: 0 auto;
	width: 80%;
	overflow-y: auto;
}

.main {
	display: inline-block;
	float: left;
	border-right: 1px solid lightgrey;
	padding: 20px;
	text-transform: uppercase;
	color: #A4A4A4;
	width: 60%;
}

label {
	width: 100px;
	text-align: right;
	display: inline-block;
	margin: 10px 20px 10px 0;
}

.card-details {
	padding-bottom: 20px;
	border-bottom: 1px solid lightgrey;
}

.fa-question-circle {
	color: $c_highlight;
}

.sidebar {
	display: inline-block;
	width: 30%;
	margin: 0 20px;

	h3 {
		font-weight: 500;
		margin: 0;
		display: inline-block;
	}
}

.change {
	display: inline-block;
	float: right;
	text-transform: uppercase;

	a {
		color: $c_highlight;
	}
}

.card-start-date,
.card-expiration-date {
	display: inline-block;
}

.card-start-date {
	float: left;
}

.card-expiration-date {
	float: none;

	label {
		width: initial;
		margin-left: 15px;
		margin-right: 10px;
	}
}

.amount-details {
	border-top: 1px solid lightgrey;
	padding: 20px 0 20px 0;
	margin-top: 1px;

	.currency {
		display: inline-block;
		background-color: #e5e5e5;
		width: 30px;
		margin: 0;
		padding: 0;
		position: relative;
		height: 30px;
		padding-top: 4px;
		text-align: center;
		border: 1px solid lightgrey;
	}
}

.shipping-details,
.billing-details {
	line-height: 1.5;
}

.upper {
	margin-bottom: 15px;
}

.shipping-details {
	padding-bottom: 20px;
	border-bottom: 1px solid lightgrey;
}

.billing-details {
	border-top: 1px solid lightgrey;
	margin-top: 1px;
	padding-top: 20px;
}

