.btn-group {
	margin-top: 20px;
	margin-left: 120px;

	.btn-pay {
		color: white;
		background-color: $c_highlight;
		border: none;
		padding: 10px;
		text-transform: uppercase;
		border-radius: 2px;
		transition: all 0.3s ease 0s;

		&:hover {
  		box-shadow: inset 0 0 0 5px #3071A9;
		}
	}

	.btn-cancel {
		color: grey;
		background-color: transparent;
		border: none;
		text-transform: uppercase;
		margin-left: 20px;
	}
}