.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted grey;
}

.tooltip .tooltipcontent {
    visibility: hidden;
    width: 300px;
    background-color: lightgrey;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%; 
    margin-left: -60px;
    margin-top: 10px;
}

.tooltip:hover .tooltipcontent {
    visibility: visible;
}